/* 
TODO:

- Fix "class slot" styling
    - Enable support for smaller devices
- Make button styling more streamlined
*/

/* --------------------------------------------------------- */
/* PRELIMINARY */
/* --------------------------------------------------------- */

:root {
    --main-accent: #368aff;
    --secondary-accent: #286ecf;
    /* --main-accent: #6daaff; */
    /* --secondary-accent: #5490e3; */

    --cell-color-1: #e3f2fd;
    --cell-color-2: #ffbdbd;
    --cell-color-3: #dff4f0;
    --cell-color-4: #e2c0ff;
    --cell-color-5: #ffecc0;
    --cell-color-6: #ffe7fe;

    --selected-button-bg: var(--main-accent);
    --selected-button-border: #549bff;

    --available-button-bg: #e9e9e9;
    --available-button-border: #cbcbcb;

    --disabled-button-bg: #c3c3c3;
    --disabled-button-border: #b6b6b6;

    /* EXPERIMENTAL */
    /* CONFLICT STYLINGS */
    /* --soft-conflict-bg: #fcba03; */
    /* --soft-conflict-border: #000000; */
    --soft-conflict-bg: #ffe394;
    --soft-conflict-border: #ffd45c;

    /* --hard-conflict-bg: #f99; */
    --hard-conflict-bg: #ff8585;
    --hard-conflict-border: #ff5f5f;
    /* --hard-conflict-color: #ffffff; */

    --conflict-highlight-bg: #ffb43f;
    --conflict-highlight-border: #e69600;
    --conflict-highlight-color: #222222;
}

.inter-font,
.button-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* WORK SANS */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-mono-code-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    /* width: 80%; */
    /* max-width: 1500px; */
    margin: auto;
    font-size: 16px;
    /* background-color: #fafafa; */
    background-color: #f5f7fa;
    color: #222222;
}

header {
    background-color: var(--main-accent);
    margin-bottom: 30px;
    padding: 10px;
}

h1 {
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 600;
}

a,
a:visited {
    /* color: #3aa3ff; */
    color: var(--main-accent);
}

/* a:visited { */
/*     color: #933aff; */
/* } */
a:hover {
    color: #51aeff;
}

a:visited:hover {
    color: #51aeff;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 80%;
    max-width: 1300px;
}

/* --------------------------------------------------------- */
/* Input Text Section */
/* --------------------------------------------------------- */

/* Input Area For Text */
.schedule-input-area {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.schedule-input-area .input-heading {
    width: 80%;
    text-align: left;
}

.input-heading h3 {
    font-size: 24px;
    margin: 0px;
}

.input-heading p {
    margin: 5px 0px 20px 0px;
    /* font-style: italic; */
}

.schedule-input-area .input-text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text-area {
    width: 80%;
}

.input-text-area textarea {
    font-size: 16px;
    height: 400px;
    width: 100%;
    resize: none;
}

.input-text-area textarea:focus {
    outline: 1px solid var(--main-accent);
}

/* Schedule Generating Buttons */
.main-function-button {
    background-color: var(--main-accent);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 2px;
    border: #549bff 2px solid;
    cursor: pointer;
}

.main-function-button:hover {
    background-color: var(--secondary-accent);
}

.schedule-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* .schedule-buttons-container button { */
/*     background-color: var(--main-accent); */
/*     color: white; */
/*     font-size: 16px; */
/*     padding: 10px 20px; */
/*     border-radius: 2px; */
/*     border: #549bff 2px solid; */
/*     cursor: pointer; */
/* } */
/**/
/* .schedule-buttons-container button:hover { */
/*     background-color: var(--secondary-accent); */
/* } */

/* Inner Titles General Styling */
.inner-title {
    font-weight: bold;
    font-size: 20px;
}


/* --------------------------------------------------------- */
/* Mid-Section -- Usage Info */
/* --------------------------------------------------------- */
.usage-info-container {
    margin: 0px 20px;
    padding: 5px 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.usage-info p {
    margin: 0px;
}

.legend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none !important;
}

.legend-color-box {
    min-width: 20px;
    min-height: 20px;
    background-color: white;
    border: 2px solid black;
}

.available-color {
    background-color: var(--available-button-bg);
    border: 2px solid var(--available-button-border);
}

.selected-color {
    background-color: var(--selected-button-bg);
    border: 2px solid var(--selected-button-border);
}

.disabled-color {
    background-color: var(--disabled-button-bg);
    border: 2px solid var(--disabled-button-border);
}

.soft-conflict-color {
    background-color: var(--soft-conflict-bg);
    border: 2px solid var(--soft-conflict-border);
}

.hard-conflict-color {
    background-color: var(--hard-conflict-bg);
    border: 2px solid var(--hard-conflict-border);
}


.conflict-highlight-color {
    background-color: var(--conflict-highlight-bg);
    border: 2px solid var(--conflict-highlight-border);
}

/* Settings */
.settings-param-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-param {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* --------------------------------------------------------- */
/* Mid-Section -- Course Interaction */
/* --------------------------------------------------------- */


/* Course Picker */
.course-interaction-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin: 20px;
}

/* Options Selection Buttons */

.course-picker-container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 2px;
}

.course-picker-container>.course-picker-title {
    margin: 0px;
}

.course-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.course-title-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Old Styling */
.options-grid .option-button, .available-button {
    background-color: var(--available-button-bg);
    color: black;
    font-size: 16px;
    width: 33px;
    height: 32px;
    border: 2px solid var(--available-button-border);
    gap: 0px;
    cursor: pointer;

    &:not(:disabled):hover {
        background-color: #dedede;
    }
}

.options-grid .option-button:disabled {
    background-color: var(--disabled-button-bg);
    border: 2px solid var(--disabled-button-border);
    cursor: default;
}

.options-grid .selected-button {
    background-color: var(--selected-button-bg) !important;
    border: 2px solid var(--selected-button-border) !important;
    color: white !important;

    &:not(:disabled):hover {
        background-color: var(--secondary-accent) !important;
    }
}

/* --------------------------------- */
/* EXPERIMENTAL BUTTON STYLING */
/* --------------------------------- */
.available-button {
    background-color: var(--available-button-bg) !important;
    border: 2px solid var(--available-button-border) !important;
    
    &:not(:disabled):hover{
        background-color: #dedede !important;
    }
}

.soft-conflict-button {
    background-color: var(--soft-conflict-bg) !important;
    border: 2px solid var(--soft-conflict-border) !important;
}

.hard-conflict-button {
    background-color: var(--hard-conflict-bg) !important;
    border: 2px solid var(--hard-conflict-border) !important;
    color: var(--hard-conflict-color) !important;
}

.excluded-button {
    background-color: var(--disabled-button-bg) !important;
    border: 2px solid var(--disabled-button-border) !important;
}

.conflict-highlight-button {
    background-color: var(--conflict-highlight-bg) !important;
    border: 2px solid var(--conflict-highlight-border) !important;
    color: var(--conflict-highlight-color) !important;
}

/* Course Preview */
.course-preview {
    /* background-color: #ffffff; */
    padding: 20px 15px;
}

.course-preview p {
    margin: 0px;
    margin-bottom: 5px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-preview .preview-title {
    text-align: center;
}

.course-preview .preview-course-title {
    text-align: center;
}

/* Course Preview -- Preview Table */

.preview-table {
    background-color: white;
    /* border: 2px solid var(--main-accent); */
    border: 2px solid lightgray;
    align-self: center;
    border-collapse: collapse;
    width: 100%;
}

.preview-table th,
td {
    padding: 10px;
    border: 1px solid lightgray;
    text-align: center;
}

.preview-table .preview-timings {
    width: 40%;
}


/* --------------------------------------------------------- */
/* Schedule Table */
/* --------------------------------------------------------- */


/* Schedule Grid  */
.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.schedule-grid-title {
    margin: 0px;
    text-align: center;
    font-size: 24px;
}

.print-button-container {
    display: block;
}

.schedule-grid-container {
    background-color: white;
    border: 1px solid lightgray;
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
}

.day-column {
    position: relative;
}

/* For printing */
.header {
    background-color: white !important;
    color: #222222 !important;
}

.schedule-cell {
    background: #ffffff;
    padding: 4px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 30px;

    text-align: center;
    align-content: center;
}


/* Class Slots */
.class-cell {
    position: absolute;
    /* background: #e3f2fd; */
    background: var(--cell-color-1);
    padding: 4px;
    overflow: hidden;
    border: 1px solid #90caf9;
    box-sizing: border-box;
    width: calc(100% - 2px);
    border: none;
    margin-left: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.class-cell p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.class-cell .class-name {
    font-weight: bold;
    font-size: 16px;
}

.class-cell .class-lecture-type {
    font-weight: bold;
    font-size: 16px;
}

.class-cell .class-details,
.class-time {
    font-size: 12px;
}

/* Footer */
footer {
    /* background-color: #e3e3e3; */

    /* LIGHT */
    /* background-color: #EAEDF1; PREFERRED */
    /* background-color: #D1D6DC; */
    border-top: 1px solid #D1D6DC;
    background-color: #EAEDF1;

    margin-top: 40px;
    padding: 20px 40px;
}

footer p {
    margin: 0;
}

/* footer a, footer a:visited { */
/*     color: var(--main-accent); */
/* } */
/**/
/* @page { */
/*     size: A4 landscape; */
/*     margin: 10mm; */
/* } */
/**/
/* @media print { */
/**/
/*     html, */
/*     body { */
/*         width: 297mm; */
/*         height: 210mm; */
/*         margin: 0; */
/*         padding: 0; */
/*         overflow: hidden; */
/*     } */
/**/
/*     body * { */
/*         visibility: hidden !important; */
/*     } */
/**/
/*     #print-container, */
/*     #print-container * { */
/*         visibility: visible !important; */
/*         page-break-inside: avoid !important; */
/*         break-inside: avoid !important; */
/*     } */
/**/
/*     #print-container { */
/*         visibility: visible !important; */
/*         position: absolute; */
/*         top: 0; */
/*         left: 0; */
/*         width: 297mm; */
/*         height: 210mm; */
/*         box-sizing: border-box; */
/*         padding: 10mm; */
/*         overflow: hidden; */
/*         transform-origin: top-left; */
/*     } */
/**/
/*     * { */
/*         -webkit-print-color-adjust: exact !important; */
/*         print-color-adjust: exact !important; */
/*     } */
/* } */
